:root {
  --dark-blue: rgb(42,107,166);
  --dark-blue-shadow: rgba(26, 69, 110, 0.527);
  --blue: rgb(47,123,190);
  --light-blue: rgb(112,154,192);
  --gray: rgb(228,229,231);
  --li-gray: rgb(238,239,242);
  --input-gray: rgb(219,219,222);
  --green: rgb(106,171,77);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--- main-nav ---*/

#main-nav {
  width: 100%;
  max-width: 1440px;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: var(--dark-blue);
}

.nav-left, .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.2rem;
}

.nav-left > *, .nav-right > * {
  background-color: var(--light-blue);
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.2s;
}

.nav-left > i:hover, .nav-right > i:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.nav-center {
  font-size: 1.7rem;
  font-weight: bold;
  opacity: 0.7;
  transition: 0.2s;
}

.nav-center:hover {
  cursor: pointer;
  opacity: 1;
}

/*--- inner-nav ---*/

#inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  width: 100%;
  max-width: 1440px;
}

.inner-nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.inner-nav-left > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.inner-nav-left > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-nav-left > div:nth-child(2) > span {
  padding: 0 1rem;
  border-left: 1px solid #e5e5e5;
}

.inner-nav-left > div:nth-child(2) > span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.inner-nav-left > div:nth-child(2) > span:nth-child(2) > i {
  font-size: 0.8rem;
}

.inner-nav-left > div:nth-child(2) > span:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.inner-nav-left > div:nth-child(2) > span:nth-child(3) > i {
  background-color: var(--light-blue);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 0.7rem;
}

.inner-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  color: #e5e5e5;
}

.inner-nav-right > span {
  text-decoration: underline;
}

/*--- main ---*/

main {
  flex: 1 1 auto;
  max-width: 1440px;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 0.5rem;
}

main > div {
  width: auto;
  display: flex;
  column-gap: 0.5rem;
}

main > section, main > div > section {
  width: 100%;
  min-width: 240px;
  max-width: 240px;
}

#add-btn {
  width: 100%;
  padding: 1rem;
  background-color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: left;
}

#add-btn:hover {
  cursor: pointer;
  background-color: var(--dark-blue-shadow);
}

#initial-list {
  position: relative;
}

#new-list-form {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  background-color: var(--gray);
  padding: 0.3rem;
  border-radius: 5px;
}

#new-list-form > input:first-child {
  padding: 0.5rem;
  background-color: var(--input-gray);
  border-radius: 5px;
  border:gray 1px solid;
}

#new-list-form > input:first-child:focus {
  outline: none;
}

.green-btn {
  background-color: var(--green);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}

.green-btn:hover {
  cursor: pointer;
}

#new-list-form > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

#new-list-form > span > button:nth-child(2),
.item-list > #new-card-form > span > button:nth-child(2) {
  background: transparent;
  border: none;
  color: rgba(128, 128, 128, 0.664);
  font-weight: bold;
  font-size: 1.5rem;
}

#new-list-form > span > button:nth-child(2):hover,
.item-list > #new-card-form > span > button:nth-child(2):hover {
  cursor: pointer;
}

/*--- item-list ---*/

.item-list {
  width: 100%;
  height: auto;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  row-gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.item-list > * {
  padding: 1rem;
}

.list-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-list > span:first-child > i {
  color: gray;
}

.item-list > span:first-child > i:hover {
  cursor: pointer;
}

.item-list > li {
  background: var(--li-gray);
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 5px;
}

.item-list > li:hover {
  cursor: pointer;
  background: #fff;
}

.item-list > div {
  position: relative;
}

.item-list > div:hover {
  cursor: pointer;
  background: var(--input-gray);
}

.item-list > div:hover > .addCardBtn {
  text-decoration: underline;
}

.item-list > div > .addCardBtn {
  background: transparent;
  border: none;
  text-align: left;
}

.hidden {
  display: none;
}

/*--- item-list: writing mode ---*/

#new-card-form {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin: 0.5rem 0;
}

.item-list > #new-card-form > textarea {
  margin: 0 0.5rem;
  border: 1px solid var(--input-gray);
  border-radius: 5px;
  padding: 0.5rem;
  min-height: 60px;
  overflow-y: scroll;
}

.item-list > #new-card-form > textarea:focus {
  outline: none;
}

.add-btn-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
  padding: 0 0.5rem;
}